
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Future web developer and second-year computer programming student. My desire to learn more about how the IT industry works led me to Seneca College of Applied Arts and Technology, where I am pursuing a diploma in computer programming. I have excellent communication skills and have worked on a number of group projects. Furthermore, my presentation skills are fantastic.
            I've learned a variety of programming and technical abilities this year. I'm still honing my HTML, CSS, JavaScript, SQL, problem-solving abilities, C(programming language), C++, and UNIX/LINUX skills. In the coming year, I intend to gain valuable real-world experience and technology abilities.</p>
            <h2>Basic Information</h2>
            <p>Name:&nbsp;Anupreet Kaur<br> Age: 20<br>Email: akaur574@myseneca.ca<br>Student ID: 110313210</p>
            <div  class="Education">
              <h2>Education</h2></br>
              <div id="education">
                  <table>
                      <tr> <th><span id="TbHeading"><b><i>Secondary School</i></b></span><br><br><span id="field">  <blockquote>(2007 - 2018)<br></blockquote></span> </th>
                          <td><br><span id="school"> The British Co-Ed High School</span><br><br>Graduated with great distinction.(93%)</td>
                      </tr>
                      <tr>
                          <th><span id="TbHeading"><b><i>High School</i></b></span><br><br><span id="field">  <blockquote>(2018 - 2020)<br></blockquote></span></th>
                          <td><span id="school">The Premier Public School</span><br><br>Graduated with great distinction.(90%)
                          </td>
                      </tr>
                      <tr>
                          <th><span id="TbHeading"><b><i>Diploma in Computer Programming</i></b></span><br><br><span id="field">    <blockquote>2021 - 2023 (expected) <br></blockquote></span></th>
                          <td><span id="school">Seneca College</span><br><br> Awarded President's Honor List Certificate.
                          </td>
                      </tr>
                      
                      
                  </table>
              </div>
             
              
          </div>
            <p>I was born in India and moved to Canada in the year 2021. I am currently enrolled in the third semester of the CPP programme. I enjoy web classes, and I'm also interested in DBS and UNIX/LINUX. 
              <blockquote>"Programming isn't about what you know; it's about what you can figure out.” - Chris Pine</blockquote></p>
          <p>This is especially helpful for us beginners. We're first concerned about knowing everything, particularly the syntax of a language. The ability to solve problems (Problem-solving) is the one we use the most.</p>
          <p><blockquote>"The only way to learn a new programming language is to write programmes in it,"</blockquote> is one of the most significant lessons I've learned so far in this programming course. We will not grasp coding unless we type and get some errors ourselves, regardless of how much we watch our professors code or how much we watch youtubers code.</p>
          <p>It's a hobby that makes life more interesting. Music has always been my go-to hobby for any and all occasions. The beauty of music is that it caters to every mood and circumstance. Music has the bonus of being able to be combined with other hobbies.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for future updates…</p>
        </aside>
      </div>
    </div>

   